.DS_Store
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
.pytest_cache/
.venv/
venv/

# Node / Frontend
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/

